/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: none;
  border: 1px solid rgba(190, 184, 180, 0.3);
  border-radius: 12px;
  transition: border-color 300ms cubic-bezier(0, 0, 0.5, 1);
}

.cardContainer:hover {
  border-color: rgba(190, 184, 180, 0.6);
}

[data-theme='dark'] .cardContainer {
  border-color: rgba(255, 255, 255, 0.1);
}

[data-theme='dark'] .cardContainer:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1.2rem;
}

.cardDescription {
  font-size: 1rem;
}
